<mat-toolbar color="primary">
  <a class="title" href="/">{{ title }}</a>

  <div class="toolbar-spacer"></div>

  <a mat-button [routerLink]="['profile']">Perfil</a>
  <a mat-button [routerLink]="['consulta']">Consulta</a>
  <a mat-button [routerLink]="['anonimizacao']">Anonimizacao</a>

  @if (!loginDisplay) {
    <button mat-raised-button [matMenuTriggerFor]="loginMenu">Login</button>
  }
  <mat-menu #loginMenu="matMenu">
    <button mat-menu-item (click)="loginRedirect()">Faca o login utilizando o redirect</button>
    <button mat-menu-item (click)="loginPopup()">Faca o login utilizando o popup</button>
  </mat-menu>

  @if (loginDisplay) {
    <button mat-raised-button [matMenuTriggerFor]="logoutMenu">Logout</button>
  }
  <mat-menu #logoutMenu="matMenu">
    <button mat-menu-item (click)="logout()">Faca o logout utilizando o redirect</button>
    <button mat-menu-item (click)="logout(true)">Faca o logout utilizando o popup</button>
  </mat-menu>

</mat-toolbar>
<div class="container">
  @if (!isIframe) {
    <router-outlet></router-outlet>
  }
</div>
